<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-1 col-md-1 col-6 order-md-1 order-1">
                    <div class="header__humberger">
                        <i class="fa fa-bars humberger__open"></i>
                    </div>
                </div> -->
                <div class="col-lg-8 col-md-10 order-md-2 order-3 mx-auto">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/">News</a></li> <!--See line 35-->
                            <li><a href="/bookmark">News Bookmark</a></li>
                            <li><a href="/blog-articles">Blog</a></li>
                            <li><a href="/weather">Weather</a></li>
                            <li><a href="/stock">Stock</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <% if (user_id) { %>
                    <div class="col-lg-4 col-md-1 col-6 order-md-3 order-2">
                        <div>
                            <nav class="header__menu">
                                <ul>
                                    <li><a href="/blog-articles/my_blog_articles">My Articles</a></li> 
                                    <li><a href="/blog-articles/my_bookmarks">My Bookmark</a></li>
                                    <li><a href="/userlogout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                <% } else { %>
                    <div class="col-1 order-md-3 order-2">
                        <nav class="header__menu">
                            <ul>
                                <li><a href="/auth"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <!-- <div class="header__btn">
                    <a href="./signin.html" class="primary-btn">Subscribe</a>
                </div> -->
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="header__logo">
                    <h1><a href="/"><img src="/images/logo.png" alt=""></a></h1>
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <!-- <div class="header__social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-envelope-o"></i></a>
                </div> -->
            </div>
        </div>
    </div>
</header>
